In [ ]:
import pandas as pd
import numpy as np
import scipy as sp
import glob as glob

def parse_datetime(raw_datetime):
    num_samples = raw_datetime.shape[0]
    
    weekday = pd.Series([])
    timeofday = pd.Series([])
    datetime_list = pd.Series([])
    
    for i in range(0,raw_datetime.shape[0]):
        datetime_temp = str.split(raw_datetime[i], ' ')

        if len(datetime_temp)<2:
            weekday[i]=np.nan
            timeofday[i]=np.nan
            datetime_list[i] = np.nan          
            continue

        date_temp = str.split(datetime_temp[0],'/')
        yy = int(date_temp[2])
        mm = int(date_temp[0])
        dd = int(date_temp[1])

        time_temp = str.split(datetime_temp[1],':')
        hh = int(time_temp[0])
        mn = int(time_temp[1])
        
        datetime_obj = datetime(yy,mm,dd,hh,mn)
        datetime_list[i] = datetime_temp
        weekday[i] = datetime_obj.weekday()
        if 8<= datetime_obj.hour and datetime_obj.hour < 12:
            timeofday[i] = 'AM'
        elif 12 <= datetime_obj.hour and datetime_obj.hour <= 17: 
            timeofday[i] = 'PM'
        else: 
            timeofday[i] = 'OFF'
    return weekday, timeofday, datetime_list

In [199]:
data_raw_fname = 'be223a_dataset.csv'
data_raw = pd.read_csv(data_raw_fname).head(1


raw_datetime = data_raw['ScheduledDTTM_D']
weekday,timeofday,datetimeobj=parse_datetime(data_raw['ScheduledDTTM_D'])

features = pd.concat([
    data_raw[['Gender','Age','OrgCode','Modality']],
    pd.DataFrame({'Weekday':weekday, 'Timeofday':timeofday})
                     ],axis=1)

features_encoded=pd.get_dummies(features)

#print(features)
#print(features_encoded)
features_encoded.to_csv('features_encoded.csv')

  Gender  Age OrgCode Modality Timeofday  Weekday
0      F   85    SMWG       US        PM      1.0
1      F   31      MP       CR        PM      3.0
2      F   61    SMWG       MG       NaN      NaN
3      F   68    SMWG       MG        AM      3.0
4      F   68    SMWG       MG        AM      3.0
5      F   64    SMWG       MG        AM      1.0
6      F   21     SMO       CR        PM      3.0
7      M   39    RICP       CR       OFF      5.0
8      F   69      MP       MR       NaN      NaN
9      F   33     MP1       MR        PM      3.0
   Age  Weekday  Gender_F  Gender_M  OrgCode_MP  OrgCode_MP1  OrgCode_RICP  \
0   85      1.0         1         0           0            0             0
1   31      3.0         1         0           1            0             0
2   61      NaN         1         0           0            0             0
3   68      3.0         1         0           0            0             0
4   68      3.0         1         0           0            0             0
5   64      1.0         1         0           0            0             0
6   21      3.0         1         0           0            0             0
7   39      5.0         0         1           0            0             1
8   69      NaN         1         0           1            0             0
9   33      3.0         1         0           0            1             0

   OrgCode_SMO  OrgCode_SMWG  Modality_CR  Modality_MG  Modality_MR  \
0            0             1            0            0            0
1            0             0            1            0            0
2            0             1            0            1            0
3            0             1            0            1            0
4            0             1            0            1            0
5            0             1            0            1            0
6            1             0            1            0            0
7            0             0            1            0            0
8            0             0            0            0            1
9            0             0            0            0            1

   Modality_US  Timeofday_AM  Timeofday_OFF  Timeofday_PM
0            1             0              0             1
1            0             0              0             1
2            0             0              0             0
3            0             1              0             0
4            0             1              0             0
5            0             1              0             0
6            0             0              0             1
7            0             0              1             0
8            0             0              0             0
9            0             0              0             1

In [183]:
a=data_raw.head(10).columns
print(data_raw.columns)
print(data_raw.head)
pd.get_dummies(data_raw['Modality'])

Index(['Exam ID', 'Patient ID', 'Patient Type', 'Gender', 'Age',
       'Exam Description', 'Exam Code', 'Modality', 'Anatomy', 'SubSpecialty',
       'CompletedDTTM_D', 'OrderedDTTM_D', 'ScheduledDTTM_D', 'OrgCode',
       'isStatExam', 'DurationMinutes', 'icd9', 'DepartmentCode',
       'CanceledDTTM_D', 'ReasonCode', 'ReasonDesc'],
      dtype='object')
<bound method NDFrame.head of    Exam ID                        Patient ID Patient Type Gender  Age  \
0  8637381  0000219e4b37d2504fb6b8c28e24a2d4   W               F   85
1  8596175  0000a7ddc7607d1d8ee5c47dd437034e   O               F   31
2  8756880  0000e1b68421441f1bb8e697ecdad119   O               F   61
3  8655662  00028fae880618d73d2dcfa3e5bc670b   O               F   68
4  8655670  00028fae880618d73d2dcfa3e5bc670b   O               F   68
5  8790094  0002aac1c9addac1d4ee6902d6ec5404   O               F   64
6  8621143  0004fb840f61b62300e85fff9d5d5507   O               F   21
7  8065344  0005bf180d7043a1959152398505d12b          UNK      M   39
8  8176413  00069bac527f81cc1fd8f6a1d6ab8ec0   O               F   69
9  8607837  0006ff704be72d3514db32fcbbcb5885   O               F   33

                Exam Description   Exam Code Modality   Anatomy SubSpecialty  \
0        DOPPLER BILAT LEG VEINS  USLEGBVD         US    LWREXT           US
1               XR CHEST PA VIEW  XRCH1PA          CR     CHEST        CHEST
2            MM LT SCREENING MAM  MMScrL           MG  LTBREAST       BREAST
3            SCANNED IMAGE_MAMMO  SMWMMSI          MG    BREAST       BREAST
4            SCANNED IMAGE_MAMMO  SMWMMSI          MG    BREAST       BREAST
5         MM BILAT SCREENING MAM  MMScrB           MG    BREAST       BREAST
6  XR BILAT HAND 3 OR MORE VIEWS  XRHA3B           CR     HANDS        MUSCL
7      XR BILAT FOREARM LAT VIEW  XRFO2B           CR   FOREARM        MUSCL
8               MRI BRAIN WW CON  MRBRWW           MR     BRAIN        NEURO
9                 MRI IAC WW CON  MRBRWW           MR     BRAIN    HEAD_NECK

         ...          OrderedDTTM_D   ScheduledDTTM_D OrgCode isStatExam  \
0        ...                     \0  11/27/3246 13:00    SMWG          N
1        ...                     \0   11/1/3246 14:10      MP          N
2        ...          2/5/3247 9:49                \0    SMWG          N
3        ...                     \0    12/6/3246 9:40    SMWG          N
4        ...                     \0    12/6/3246 9:45    SMWG          N
5        ...                     \0   3/12/3247 10:50    SMWG          N
6        ...                     \0  11/15/3246 17:00     SMO          N
7        ...                     \0     1/6/3246 0:00    RICP          N
8        ...         3/8/3246 10:04                \0      MP          N
9        ...                     \0   11/8/3246 12:00     MP1          N

  DurationMinutes                icd9 DepartmentCode  CanceledDTTM_D  \
0              45              729.5|             US              \0
1              10              447.6|            GEN              \0
2              20                 NaN            MAM              \0
3              30                 NaN            MAM              \0
4              30                 NaN            MAM              \0
5              20                 NaN            MAM              \0
6              20              729.5|            GEN              \0
7              15                 NaN       GENMP1OC   1/6/3246 9:54
8              40              225.2|            MRI  3/12/3246 9:53
9              45  351.8|368.8|784.0|            MRI              \0

   ReasonCode        ReasonDesc
0          \0                \0
1          \0                \0
2          \0                \0
3          \0                \0
4          \0                \0
5          \0                \0
6          \0                \0
7  CXBYMD       CANCELLED BY MD
8  ALDEE       DATA ENTRY ERROR
9          \0                \0

[10 rows x 21 columns]>

   CR  MG  MR  US
0   0   0   0   1
1   1   0   0   0
2   0   1   0   0
3   0   1   0   0
4   0   1   0   0
5   0   1   0   0
6   1   0   0   0
7   1   0   0   0
8   0   0   1   0
9   0   0   1   0

In [33]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],'C': [1, 2, 3]})
print(df)
pd.get_dummies(df, prefix=['col1', 'col2'])

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1       1       0       0       1       0
1  2       0       1       1       0       0
2  3       1       0       0       0       1

In [154]:
import numpy as np


raw_datetime = data_raw['ScheduledDTTM_D']
a,b,c=parse_datetime(data_raw['ScheduledDTTM_D'])

dd=pd.DataFrame({'Weekday':a, 'timeofday':b})
print(dd)
#pd.get_dummies(a,prefix='Weekday',dummy_na=True, sparse=True)
pd.get_dummies(dd)

#pd.concat([dd, dd], axis=1)

   Weekday timeofday
0      1.0        PM
1      3.0        PM
2      NaN       NaN
3      3.0        AM
4      3.0        AM
5      1.0        AM
6      3.0        PM
7      5.0       OFF
8      NaN       NaN
9      3.0        PM

   Weekday timeofday  Weekday timeofday
0      1.0        PM      1.0        PM
1      3.0        PM      3.0        PM
2      NaN       NaN      NaN       NaN
3      3.0        AM      3.0        AM
4      3.0        AM      3.0        AM
5      1.0        AM      1.0        AM
6      3.0        PM      3.0        PM
7      5.0       OFF      5.0       OFF
8      NaN       NaN      NaN       NaN
9      3.0        PM      3.0        PM

In [47]:
 data_raw['ScheduledDTTM_D']

0    11/27/3246 13:00
1     11/1/3246 14:10
2                  \0
3      12/6/3246 9:40
4      12/6/3246 9:45
5     3/12/3247 10:50
6    11/15/3246 17:00
7       1/6/3246 0:00
8                  \0
9     11/8/3246 12:00
Name: ScheduledDTTM_D, dtype: object

In [195]:
data_raw_fname = 'be223a_dataset.csv'
data_raw2 = pd.read_csv(data_raw_fname)

data_raw2['OrgCode'].value_counts()

WWH     37779
SMH     27470
MP      24204
AWW      7438
SMWG     7305
RICP     7292
SMO      5858
MP1      5116
CCHS     4784
MBIP     3884
JSMO     3506
CKHC     3494
ASM      3415
MP3      2811
RCPN     2145
MP2P     1475
MP1P     1116
SHC       908
Name: OrgCode, dtype: int64

In [201]:
rd= pd.read_csv('features_encoded.csv')
rd

,Unnamed: 0,Age,Weekday,Gender_F,Gender_M,OrgCode_MP,OrgCode_MP1,OrgCode_RICP,OrgCode_SMO,OrgCode_SMWG,Modality_CR,Modality_MG,Modality_MR,Modality_US,Timeofday_AM,Timeofday_OFF,Timeofday_PM
0,0,85,1.0,1,0,0,0,0,0,1,0,0,0,1,0,0,1
1,1,31,3.0,1,0,1,0,0,0,0,1,0,0,0,0,0,1
2,2,61,NaN,1,0,0,0,0,0,1,0,1,0,0,0,0,0
3,3,68,3.0,1,0,0,0,0,0,1,0,1,0,0,1,0,0
4,4,68,3.0,1,0,0,0,0,0,1,0,1,0,0,1,0,0
5,5,64,1.0,1,0,0,0,0,0,1,0,1,0,0,1,0,0
6,6,21,3.0,1,0,0,0,0,1,0,1,0,0,0,0,0,1
7,7,39,5.0,0,1,0,0,1,0,0,1,0,0,0,0,1,0
8,8,69,NaN,1,0,1,0,0,0,0,0,0,1,0,0,0,0
9,9,33,3.0,1,0,0,1,0,0,0,0,0,1,0,0,0,1